.card {
    background-color: #c4112f;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px #c0112e;
    padding: 1rem;
    line-height: 1.5;
    min-width: 30rem;
    margin: 2rem;
    cursor: pointer;
    width: 50%;
    color: #fef1e1;
}

.card:hover {
    transform: scale(1, 1.2);
}

@media (max-width: 425px) {
    .card {
        min-width: 20rem;
    }
}

@media (max-width: 768px ) {
    .card {
        min-width: 19rem;
    }
}

@media (max-width: 1024px) {
    .card {
        min-width: 20rem;
    }
}
